<div class="form-group" ng-class="{ 'has-success': form.businessName.$valid && form.$submitted, 'has-error': form.businessName.$invalid && form.$submitted }">
     <label class="control-label col-sm-3" for="businessName">Business Name</label>
     <div class="col-sm-9">
          <input type="text" class="form-control" id="businessName" name="businessName" placeholder="Enter your business name" ng-model="vm.me.businessName" required>
          <p class="help-block" ng-show="form.businessName.$error.required && form.$submitted">
               Business name is required.
          </p>
     </div>
</div>

<div class="form-group" ng-class="{ 'has-success': form.email.$valid && form.$submitted, 'has-error': form.email.$invalid && form.$submitted }">
     <label class="control-label col-sm-3" for="email">Contact email</label>
     <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" ng-model="vm.me.email" required>
          <p class="help-block" ng-show="form.email.$error.required && form.$submitted">
               Email is required.
          </p>
     </div>
</div>

<div class="form-group">
     <label class="control-label col-sm-3" for="phone">Contact phone</label>
     <div class="col-sm-9">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone" ng-model="vm.me.phone">
          <!--<span class="account-note">We will keep your phone number private.</span>-->
     </div>
</div>

<div layout="row" layout-align="space-between">
     <div flex="55" layout="column">
          <div class="form-group">
               <label class="control-label col-sm-3" for="streetAddress">Address</label>
               <div class="col-sm-9">
                    <input type="text" class="form-control" id="streetAddress" name="streetAddress" ng-model="vm.me.address.streetAddress" ng-disabled="true">
               </div>
          </div>
          <div class="form-group">
               <div class="col-sm-6">
                    <input type="text" class="form-control" id="streetAddress" name="streetAddress" ng-model="vm.me.address.city" ng-disabled="true">
               </div>
               <div class="col-sm-6">
                    <input type="text" class="form-control" id="streetAddress" name="streetAddress" ng-model="vm.me.address.zip" ng-disabled="true">
               </div>
          </div>
     </div>
     <div flex="40">
          <div class="map-wrapper">
               <ui-gmap-google-map ng-if="vm.me.address.coordinates[0]" center="vm.me.address.coordinates" zoom="15" draggable="true" options="vm.mapOptions">
                    <ui-gmap-marker coords="vm.me.address.coordinates" options="vm.marker.options" idkey="0">
                    </ui-gmap-marker>
               </ui-gmap-google-map>
          </div>
     </div>
</div>

<div class="form-group" ng-class="{ 'has-success': form.about.$valid && form.$submitted, 'has-error': form.about.$invalid && form.$submitted }">
     <label class="control-label col-sm-12" for="about">About cc shop name</label>
     <div class="col-sm-12">
          <textarea name="about" id="about" cols="20" rows="5" class="form-control" ng-model="vm.me.about"></textarea>
     </div>
</div>
