<div class="row footer">
   <div class="col-md-1 col-sm-1 col-xs-1 bookis-footer-left1">
      <img src="/assets/images/flag.png" alt="American Flag" style="height:1em; width:1em; padding-bottom: 3px">
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 bookis-footer-left" style="padding-top: 4px; ">
         &copy; Bookis 2017
    </div>
   
    <div class="col-md-8 col-sm-8 col-xs-8 bookis-footer-links">
         <a href="">About</a>
         <a href="">Contact</a>
         <a href="">Mission</a>
         <a href="">Team</a>
         <a href="">Press</a>
         <a href="">Careers</a>
         <a href="">FAQ</a>
         <a href="">Terms & Conditions</a>

    </div>
   
    <div class="col-md-1 col-sm-1 col-xs-1 bookis-footer-right">
        <div  class="row">
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0px;">
                <span class="fa-stack fa-xs">
                   <i class="fa fa-circle-thin fa-stack-2x"></i>
                   <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 20px;padding-left: 0px;">
                <span class="fa-stack fa-xs">
                   <i class="fa fa-circle-thin fa-stack-2x"></i>
                   <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
            </div>
        </div>
        <!--<span class="fa-stack fa-xs">
           <i class="fa fa-circle-thin fa-stack-2x"></i>
           <i class="fa fa-twitter fa-stack-1x"></i>
       </span>
       <span class="fa-stack fa-xs" style="padding-left:5em">
           <i class="fa fa-circle-thin fa-stack-2x"></i>
           <i class="fa fa-facebook fa-stack-1x"></i>
       </span>-->
         <!--<i class="fa fa-twitter" aria-hidden="true"></i>
         <i class="fa fa-facebook " aria-hidden="true"></i>-->
    </div>
</div>