.md-button.md-small {
    height: 26px;
    line-height: 20px;
    min-height: 20px;
    font-size: 10px;
}
textarea {
    resize: vertical;
}
.progress {
    height: 15px;
    .progress-bar {
        background-color: color(secondary, light);
        height:15px;
        font-size: 10px;
        line-height: 15px;
    }
}
