<div layout="row" class="fast-buy-modal">
     <div flex="none" class="img-section">
          <img ng-src="{{::modal.request.book.imageUrl}}" alt="book image">
     </div>
     <div flex layout="column">
          <div layout="row" layout-align="start center">
               <div class="title">{{::modal.request.book.title}}</div>
               <span class="year">({{::modal.request.book.year}})</span>
          </div>
          <div class="author">{{::modal.request.book.author}}</div>
          <div class="genre">{{::modal.request.book.genre || 'genre'}}</div>
          <div layout="row" class="rating-reviews">
               <div flex="60" layout layout-align="space-between center">
                    <div layout="row" flex="none" layout-align="start center">
                         <div layout="row" layout-align="start end">
                              <div class="avg">{{::modal.request.book.rating.avg}}</div>
                              <div>/5</div>
                         </div>
                         <i class="fa fa-star"></i>
                    </div>
                    <div class="meta" flex="none">{{::modal.request.book.rating.votes}} ratings & HC reviews</div>
                    <div class="format" flex="none">{{::modal.request.book.format}}</div>
               </div>
          </div>
          <md-divider></md-divider>
          <div layout="row" class="buttons">
               <div flex="50" layout="column">
                    <div class="condition">Used</div>
                    <div layout="row" layout-align="start center">
                         <div class="price">{{::modal.request.book.price | currency}}</div>
                         <md-button class="md-raised md-primary md-small" ng-click="modal.request.collapsed = !modal.request.collapsed">Request</md-button>
                         <div layout="column">
                              <div class="meta-other">22 used</div>
                              <div class="from">from {{::modal.request.book.price | currency}}</div>
                         </div>
                    </div>
               </div>
               <div flex layout="column">
                    <div class="condition">Seller</div>
                    <div layout="row" layout-align="start center">
                         <div class="seller-image">
                              <img ng-src="{{::modal.request.book.user.imageUrl}}" alt="seller image">
                         </div>
                         <div class="seller-info">
                              <div>{{::(modal.request.book.user.firstName + ' ' + modal.request.book.user.lastName)}}</div>
                         </div>
                    </div>

               </div>
          </div>
          <md-divider></md-divider>
          <div class="comment">{{::modal.request.book.comment || 'N/A'}}</div>
          <div class="horizontal-collapse" uib-collapse="modal.request.collapsed">
               <md-divider></md-divider>
               <h5>How would you like it to be delivered?</h5>
               <md-radio-group ng-model="modal.request.delivery" layout="row">
                    <md-radio-button value="shipping" class="md-primary">Shipping</md-radio-button>
                    <md-radio-button value="delivery" class="md-primary">Delivery</md-radio-button>
               </md-radio-group>
               <h5>Message</h5>
               <textarea id="message" cols="20" rows="4" class="form-control" ng-disabled="!modal.request.delivery" ng-model="modal.request.message" placeholder="Type your message here..."></textarea>
               <div layout="row" layout-align="end end" flex="none">
                    <md-button class="md-primary md-raised mr0" ng-disabled="!modal.request.delivery" ng-click="modal.confirm()">Confirm request</md-button>
               </div>
          </div>


     </div>
</div>
