<div id="_booksSale">
     <table class="table table-condensed table-hover" ng-if="vm.books.length">
          <thead>
          <tr>
               <th width="25%">Title</th>
               <th width="10%">Date Added</th>
               <th width="10%">Price</th>
               <th width="10%">Bookis Rating</th>
               <th width="10%">User Rating</th>
               <th width="10%">Condition</th>
               <th width="15%">Delivery options</th>
               <th width="10%">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="book in vm.books track by book._id">
               <td layout="row" layout-align="start center" flex="none" class="title">
                    <img width="30" height="55" flex="none" ng-src="{{book.imageUrl}}" alt="book image">
                    <div layout="column" flex>
                         <div class="book-name">{{book.title}}</div>
                         <div class="book-author">{{book.author}}</div>
                    </div>

               </td>
               <td>
                    <div>{{::book.createdAt | date:'MM/dd/yyyy'}}</div>
               </td>
               <td>{{book.price | currency}}</td>
               <td><span class="rate-number">{{book.rating.avg | number:1}}</span><i class="fa fa-star-o" aria-hidden="true"></i></td>
               <td><span class="rate-number"><span ng-if="book.rating.ownerRate">{{book.rating.ownerRate}}</span></span><i class="fa" ng-class="book.rating.ownerRate ? 'fa-star' : 'fa-star-o'" aria-hidden="true" ng-click="vm.rateBook(book)"></i></td>
               <td>{{book.condition || 'Good'}}</td>
               <td>Shipping or Meetup</td>
               <td>
                    <md-button class="md-raised md-small md-primary"
                               ng-click="vm[vm.me()._id ? 'requestBook' : 'login'](book)"
                               ng-disabled="vm.me()._id === book.user"
                    >Request</md-button>
               </td>
          </tr>
          </tbody>
     </table>
     <div ng-if="!vm.books.length">
          User have no books for sale
     </div>
</div>
