.login {
    .other {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid grey;
        color: grey;
        line-height: 0.1em;
        margin: 30px 0 20px;
        span {
            background: #fff;
            padding: 0 10px;
        }
    }
    @keyframes colors {
        0% { stroke: white; }
        25% { stroke: white; }
        50% { stroke: white; }
        75% { stroke: white; }
        100% { stroke: white; }
    }
    md-progress-circular {
        margin-right: 10px;
    }
    md-progress-circular path{
        animation: colors 5.6s ease-in-out infinite;
    }
    .other {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid grey;
        color: grey;
        line-height: 0.1em;
        margin: 30px 0 20px;
        span {
            background: #fff;
            padding: 0 10px;
        }
    }
    .forgot {
        min-height: 50px;
    }
    .success-block {
        color: limegreen;
    }
}