.signup {
    .other {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid grey;
        color: grey;
        line-height: 0.1em;
        margin: 30px 0 20px;
        span {
            background: #fff;
            padding: 0 10px;
        }
    }
}