.rate-book-modal {
    .book-image {
        img {
            height: 100px;
            width: 70px;
        }
    }
    .book-details {
        margin-left: 10px;
        .title {
            font-weight: bold;
        }
        .author {
            font-size: 12px;
            color: grey;
        }
    }
}
