#wishlist {
    .md-whiteframe-4dp {
        padding: 0;
    }
    table {
        margin-bottom: 0;
        thead {
            background-color: #e4e3e3;
            tr {
                th {
                    height: 40px;
                    line-height: 28px;
                }
            }
        }
        tbody {
            tr {
                transition: all .5s ease-in;
                &.not-seen {
                    opacity: 0;
                }
                td {
                    vertical-align: middle;
                }
            }
        }
    }
}