<div id="bulk-sell-books">
     <div class="alert alert-info">
          <strong>Note!</strong> Make sure your excel file contains at least these {{::modal.required.length}} columns:
          <div layout="row" layout-wrap>
               <div flex="50" ng-repeat="field in ::modal.required track by $index">
                    <div>- {{::field}}</div>
               </div>
          </div>
          <br>
          Or you can <a ng-href="{{modal.url()}}" title="Export template" target="_self" aria-label="csv">download</a> our excel template.
     </div>

     <div layout="row" layout-align="start center" flex="none">
          <md-button class="md-raised md-small" accept=".xls,.xlsx" ngf-select ng-model="modal.data.excelFile" name="file">
               Choose file
          </md-button>
          <span ng-if="!modal.data.excelFile">(file not selected)</span>
          <span ng-if="modal.data.excelFile">{{modal.data.excelFile.name}}</span>
     </div>


     <div layout="row" layout-align="end end" flex="none">
          <md-button class="md-raised" ng-click="modal.cancel()">Cancel</md-button>
          <md-button class="md-raised md-primary" ng-disabled="!modal.data.excelFile" ng-click="modal.submit()">Confirm</md-button>
     </div>

</div>