<div layout-padding id="change-password">
     <md-whiteframe class="md-whiteframe-4dp" layout="column" flex>
          <h3>{{!vm.notLocal ? 'Change' : 'Set'}} Password</h3>
          <div layout="row" layout-align="start start" layout-padding>
               <form flex-gt-sm="70" flex-gt-md="50" flex class="form form-horizontal" name="form" ng-submit="vm[!vm.notLocal ? 'changePassword' : 'setPassword'](form)" novalidate>

                    <div class="form-group" ng-if="!vm.notLocal" ng-class="{ 'has-success': form.password.$valid && form.$submitted, 'has-error': form.password.$invalid && form.$submitted }">
                         <label class="control-label col-sm-4" for="currentPassword">Current Password</label>
                         <div class="col-sm-8">
                              <input id="currentPassword" type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" mongoose-error/>
                              <p class="help-block" ng-show="form.password.$error.mongoose">
                                   {{ vm.errors.other }}
                              </p>
                         </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.newPassword.$valid && form.$submitted, 'has-error': form.newPassword.$invalid && form.$submitted }">
                         <label class="control-label col-sm-4" for="newPassword">{{!vm.notLocal ? 'New ' : ''}}Password</label>
                         <div class="col-sm-8">
                              <input id="newPassword" type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required/>
                              <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && form.newPassword.$dirty && form.$submitted">
                                   Password must be at least 3 characters.
                              </p>
                         </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.confirm.$valid && form.$submitted, 'has-error': form.confirm.$invalid && form.$submitted }">
                         <label class="control-label col-sm-4" for="confirm">Confirm Password</label>
                         <div class="col-sm-8">
                              <input id="confirm" type="password" name="confirm" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3" required=""/>
                              <p class="help-block" ng-show="form.confirm.$error.match && form.$submitted">
                                   Passwords must match.
                              </p>
                         </div>
                    </div>

                    <p class="help-block"> {{ vm.message }} </p>

                    <div layout="row" layout-align="end end" flex>
                         <md-button type="submit" class="md-raised md-primary update">
                              {{!vm.notLocal ? 'Update' : 'Submit'}}
                         </md-button>
                    </div>

               </form>
          </div>

     </md-whiteframe>
</div>
