navbar-sub {
    .navbar {
        margin-bottom: 0;
    }
    li {
        border-bottom: 2px solid color(primary, base);
        a {
            color: white !important;
            &:hover {
                color: darken(white, 15%) !important;
            }
        }
        &.active {
            border-bottom: 2px solid white;
            a {
                background-color: transparent !important;
            }
        }
    }
    .navbar-default {
        background-color: color(primary, base);
    }
    #navbar-main {
        overflow:hidden;
    }
}